# Exclude any build artifacts
# e.g. exploits/linux/vulndev/.vulndev.ko.cmd
# exploits/linux/vulndev/.vulndev.o.d
# or any other build artifacts

*.ko
*.o
*.cmd
*.d
*.mod.c
*.symvers
*.order
exploits/linux/uef_bootkit_docu.md
exploits/linux/uefi_bootkit.c
exploits/linux/vulndev2.c
